matplotlib==3.7.1
numpy==1.24.1
opencv-python==4.7.0.72
opencv-contrib-python==4.7.0.72
scipy==1.10.0
jupyterlab==3.5.2
ipykernel==6.20.1
ipython==8.8.0
pandas==1.4.2
nbconvert[webpdf]==7.2.9
line_profiler==4.0.2
notebook==6.5.2
scikit-image==0.19.3
ipywidgets==8.0.5
ipympl==0.9.3
scikit-image==0.19.3
torch==2.0.0
torchvision==0.15.1
pretrainedmodels==0.7.4
pillow>=9.1.1
yapf
imageio==2.28.1
ffmpeg-python
